.lay-icon {
    display: flex;
    width: 250px;
    margin-left: 43%;
    margin-right: 50%;
    border-radius: 50px;
    margin-top: 50px;
    border: 1px solid white;
}

.lay-icon:hover {
    background-color: white;
    transition: background-color 600ms, 200ms ease-in;
}

@media screen and (max-width: 100px) {
    .lay-icon {
        width: 50%;
        margin-left: 25%;
        margin-right: 10%;
    }

    .lay-icon:hover {
        background-color: white;
        transition: background-color 400ms, 200ms ease-in;
    }
}